# Marketplace config
export MARKETPLACE_BATCH_SIZE=10
export MARKETPLACE_MAX_RETRIES_GET_EDR=5
export MARKETPLACE_OFFERING_PAGE_SIZE=5
export MARKETPLACE_CATALOGUE_URL=https://sedimark.surrey.ac.uk
# Profile server config
export PROFILE_API_KEY=password
# DLT booth config
export DLT_RUST_LOG=debug     # Log level [debug, info, error]
export DLT_RUST_BACKTRACE="1" # Enable backtrace for errors
## HTTP SERVER CONFIG
export DLT_HOST_ADDRESS=0.0.0.0 # Http server bind address
export DLT_HOST_PORT=8085       # Http server bind port
## DLT CONFIG
export DLT_NODE_URL="https://stardust.linksfoundation.com/node1"
# export DLT_NODE_URL="https://stardust.unican.sedimark.eu"
export DLT_FAUCET_API_ENDPOINT="https://stardust.linksfoundation.com/faucet/l1/api/enqueue"
export DLT_RPC_PROVIDER="https://json-rpc.evm.stardust.linksfoundation.com/sedimark-chain"
# export DLT_RPC_PROVIDER="https://stardust.unican.sedimark.eu/sedimark-chain"
export DLT_CHAIN_ID=1074
## ISSUER CONFIG
export DLT_ISSUER_URL="https://issuer.stardust.linksfoundation.com"
## KEY STORAGE CONFIG
export DLT_KEY_STORAGE_STRONGHOLD_SNAPSHOT_PATH="./key_storage.stronghold"  # file path where secrets will be stored
export DLT_KEY_STORAGE_STRONGHOLD_PASSWORD="some_hopefully_secure_password" # password used for Stronghold file encryption
export DLT_KEY_STORAGE_MNEMONIC="your mnemonic here"                        # mnemonic used to generate the key storage
## WALLET CONFIG
export DLT_WALLET_STRONGHOLD_SNAPSHOT_PATH="./wallet.stronghold"       # file path where wallet keys will be stored
export DLT_WALLET_STRONGHOLD_PASSWORD="some_hopefully_secure_password" # password used for Stronghold file encryption
## DLT BOOTH DATABASE CONNECTION CONFIG
export DLT_BOOTH_DB_USER="postgres"
export DLT_BOOTH_DB_PASSWORD="dlt_booth"

## VERIFIER CONFIG
export VERIFIER_HOST_PORT=1235

## GENERIC CONFIG
export SED_PARTICIPANT_ID="example_participant1"
export SED_TRUSTED_ISSUER_ID="did:iota:lnk:0x2ab8359cab2468ba2f4217703503a9bde86c4cf85ee57eb6093ed5c2072c87a7"

## OFFERING MANAGER CONFIG
export OM_PERSISTENCE_DATABASE="offeringManager"
export OM_PERSISTENCE_USER="offeringManager"
export OM_PERSISTENCE_PASSWORD="change_this_password"
export OM_HASH_ALGORITHM="SHA-256"
export OFFERING_MANAGER_HOSTNAME="offering-manager.example.com"
export OFFERING_MANAGER_EXTERNAL_API_PORT=8080
export OFFERING_MANAGER_PUBLIC_API_PORT=8080

## CONNECTOR CONFIG
## CONNECTOR PERSISTENCE CONFIGURATION PARAMETERS
export CONN_PERSISTENCE_DATABASE="connector_cp_dp"
export CONN_PERSISTENCE_USER="connector"
export CONN_PERSISTENCE_PASSWORD="secretPassword4Connector"

## CONNECTOR CONTROL PLANE SPECIFIC CONFIGURATION PARAMETERS
# Data Space Protocol API (publicly exposed)
export CONN_CONTROL_PLANE_HOSTNAME="connector1.example.com"
export CONN_CONTROL_PLANE_PORT=8282
export CONN_CONTROL_PLANE_PATH="/api/dsp"
# Management API (shouldn't be publicly exposed)
export CONN_WEB_HTTP_MANAGEMENT_PORT=8181
export CONN_WEB_HTTP_MANAGEMENT_PATH="/api/management/"
# Management API: Version Information (should not be exposed for SEDIMARK)
export CONN_WEB_HTTP_VERSION_PORT=7171
export CONN_WEB_HTTP_VERSION_PATH="/.well-known/api"
# Control Plane Control API (used by the data plane to interact with the control plane, so it shouldn't be publicly exposed)
# Also used by the Data Plane runtime to expose its Control API.
export CONN_WEB_HTTP_CONTROL_PORT=9191
export CONN_WEB_HTTP_CONTROL_PATH="/api/control"
# Default API context
export CONN_WEB_HTTP_PORT=18181
export CONN_WEB_HTTP_PATH="/api"
# Externally exposed ports
export CONN_CP_EXTERNAL_MANAGEMENT_PORT=8181 # Management API, exposed for local client applications
export CONN_CP_EXTERNAL_DSP_PORT=8282 # Data Space Protocol API, has to be publicly accessible
export CONN_CP_PUBLIC_DSP_PORT=8282 # The public port that other participants need to use. In case public port and exposed ports are different

## CONNECTOR DATA PLANE SPECIFIC CONFIGURATION PARAMETERS
# Data Plane Public API v2 (publicly exposed)
export CONN_DATA_PLANE_HOSTNAME="connector1.example.com"
export CONN_DATA_PLANE_PUBLIC_PORT=8185
export CONN_DATA_PLANE_PUBLIC_PATH="/api/public"
# Externally exposed ports
export CONN_DP_EXTERNAL_API_PORT=8185
export CONN_DP_EXTERNAL_CONTROL_PORT=9192
# Enable data-plane un-registration at shutdown (not suggested for clustered environments)
export CONN_DATA_PLANE_SELF_UNREGISTRATION=true

# Protocol specific transfer configuration
export CONN_AWS_ACCESS_KEY="accessKeyId"
export CONN_AWS_SECRET_ACCESS_KEY="secretAccessKey"

### Don't enfoce HTTPS queries for the time being. Enable it for production once reverse proxy is set up
export CONN_HTTPS_ENFORCE=false
